/* style.css
 *
 * Main style script for OpenVE's website.
 *
 * By:
 * -   Daniel Rodríguez <http://sadasant.com/>
 * -   Contribute to get your name here :)
 *
 * License: Read the main LICENSE file.
 */

body, html {
  font-family : sans-serif;
  font-size   : 16px;
  overflow-x  : hidden;
  color       : #444;
}

a {
  color : #49e;
}
a:hover, a:visited {
  color : #e45;
}


#header {
  width       : 100%;
  text-align  : left;
  padding-top : 30px;
  padding-left : 10%;
}
#header * {
  display : inline-block;
}
#header h1 {
  font-size   : 35px;
  font-weight : bold;
  padding     : 30px 30px 30px 30px;
}
#header p {
  width : 30%;
}


#menu {
  margin        : 0 auto;
  width         : 80%;
  background    : #EEE;
  border-radius : 5px;
  box-shadow    : inset 0 0 10px #DDD;
  border-bottom : 1px solid #AAA;
}
#menu div {
  display : inline-block;
  padding : 10px 15px;
  color   : #666;
}
#menu a:first-child div {
  border-radius : 5px 0 0 5px;
}
#menu a {
  color           : inherit;
  text-decoration : none;
  text-shadow     : 1px 1px 0 rgba(255,255,255,.6);
}
#menu div:hover {
  color      : black;
  box-shadow : 0 -1px  0  rgba(  0,   0,   0, .3) inset,
               0 20px 3px rgba(255, 255, 255, .2) inset,
               0  0   5px rgba( 50,  50,  50, .5);
}
#menu a:nth-child(3n+1) div:hover {
  background  : #fb4;
}
#menu a:nth-child(3n+2) div:hover {
  background  : #49e;
}
#menu a:nth-child(3n+3) div:hover {
  background  : #e45;
}


#content {
  padding-top : 20px;
  width       : 80%;
  margin      : 0 auto;
}
#content b {
  font-weight : bold;
}
#content em {
  color : #ee3366;
}
#content p {
  margin-bottom : 18px;
}
#content h2 {
  font-size   : 18px;
  font-weight : bold;
  padding-top : 0px;
}
#content .content-main {
  padding    : 10px 25px 0 20px;
  text-align : justify;
}


#content .post {
  margin : 0 0 20px;
}
#content .post .post-header {
  margin-bottom : 10px;
}
#content .post .post-header small {
  color : #999;
}

#content .languages a {
  text-decoration : none;
}
#content .language {
  width         : 95%;
  background    : #DDD;
  padding       : 10px;
  margin-bottom : 20px;
  border-radius : 3px;
  color         : white;
}
#content a:nth-child(3n+1) .language {
  background  : #fb4;
}
#content a:nth-child(3n+2) .language {
  background  : #49e;
}
#content a:nth-child(3n+3) .language {
  background  : #e45;
}
