<table>
  <tr>
    <td>
      <img src="<%= user.avatar_url %>" alt="" class="avatar" />
    </td>
    <td class="login">
      <a href="<%= user.url %>">
        <%= user.login %>
      </a>
    </td>
  </tr>
<% if (user.bio) { %>
  <tr>
    <td class="bio" colspan="2">
      <%= user.bio %>
    </td>
  </tr>
<% } %>
  <tr>
    <td>Lo siguen</td>
    <td><%= user.followers %></td>
  </tr>
  <tr>
    <td>Sigue a</td>
    <td><%= user.following %></td>
  </tr>
  <tr>
    <td>Repositorios</td>
    <td><%= user.public_repos %></td>
  </tr>
<% if (user.company) { %>
  <tr>
    <td>Compañía</td>
    <td><%= user.company %></td>
  </tr>
<% } %>
<% if (user.location) { %>
  <tr>
    <td>Ubicación</td>
    <td><%= user.location %></td>
  </tr>
<% } %>
</table>
