<div class="popover top">
  <div class="arrow"></div>
  <h3 class="popover-title">
    <a href="<%= user.url %>">
      <%= user.login %>
    </a>
  </h3>
  <div class="popover-content">
    <img src="<%= user.avatar_url %>" alt="" class="avatar" />
    <ul class="unstyled">
      <li>
        <% if (user.bio) { %>
          <%= user.bio %>
        <% } %>
      </li>
      <li>
        Lo siguen: <%= user.followers %>
      </li>
      <li>
        Sigue a: <%= user.following %>
      </li>
      <li>
        Repositorios: <%= user.public_repos %>
      </li>
      <li>
        <% if (user.location) { %>
            Ubicación: <%= user.location %>
        <% } %>
      </li> 
    </ul>
  </div>
</div>