<div class="<%= class_name %>" data-login="<%= user.login %>">
  <a href="https://github.com/<%= user.login %>" target="_blank">
    <img src="<%= user.avatar_url %>" alt="<%= user.login %>" title="<%= user.login %>" />
  </a>
  <div class="popover top">
    <div class="arrow"></div>
    <h3 class="popover-title">
      <a href="https://github.com/<%= user.login %>" target="_blank">
        <%= details.login %>
      </a>
    </h3>
    <div class="popover-content">
      <% if (details.bio) { %>
        <p><%= details.bio %></p>
      <% } %>
      <ul class="unstyled">
        <li>
          <i class="icon-download"></i> &nbsp;Lo siguen: <%= details.followers %>
        </li>
        <li>
          <i class="icon-upload"></i> &nbsp;Sigue a: <%= details.following %>
        </li>
        <li>
          <i class="icon-briefcase"></i> &nbsp;Repositorios: <%= details.public_repos %>
        </li>
        <li>
          <% if (details.location) { %>
            <i class="icon-map-marker"></i> &nbsp;Ubicación: <%= details.location %>
          <% } %>
        </li> 
      </ul>
    </div>
  </div>
</div>
