<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
	<script defer src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR" crossorigin="anonymous"></script>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">Ve nuestros repositorios <small>en Github <i class="fab fa-github"></i> {{ site.github.repository_nwo }}</small></a></p>
        {% endif %}
	{% if site.telegram %}
        <p class="view"><a href="{{ site.telegram }}">Conversa con nosotros <small>en telegram <i class="fab fa-telegram"></small></i></a></p>
	{% endif%}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>
	Mantenido por
          {% for user in site.github.contributors limit:5 %}
            <a href="{{ user.html_url }}" class="avatar-link">
              {% avatar user=user.login size=16 %}</a>,
          {% endfor %}
          <!-- <a href="{{ site.github.repository_url }}/graphs/contributors">{{ site.github.contributors.size|minus:5 }} más</a> -->
          <a href="{{ site.github.repository_url }}/graphs/contributors">y muchos más en <i class="fab fa-github"></i></a>
	</p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
