<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!--<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>-->
	<link rel="stylesheet" href="/css/yui-reset-min.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<title>OpenVE : {{ page.title }}</title>
</head>
<body>

	<div id="header">
		<h1>OpenVE</h1>
		<p>
			Comunidad de Código Abierto en Venezuela
		</p>
	</div>

	<div id="menu">
		<a href="/"><div>Nosotros</div></a>
		<a href="/articulos.html"><div>Artículos</div></a>
		<a href="/topicos.html"><div>Tópicos</div></a>
		<a href="http://webchat.freenode.net?channels=OpenVE" target="_blank"><div>Chat</div></a>
		<a href="https://groups.google.com/forum/#!forum/openve" target="_blank"><div>Foro</div></a>
		<a href="https://github.com/OpenVE" target="_blank"><div>Github</div></a>
		<a href="https://twitter.com/OpenVE" target="_blank"><div>Twitter</div></a>
	</div>

	<div id="content">
		{{ content }}
	</div>

</body>
</html>
